/* General Styles */
body {
  font-family: "Arial", sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navbar */
.logo {
  margin: 0 20px 20px;
}

.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  background: rgba(0, 0, 0, 0.397);
  position: absolute;
  top: 0;
  left: 0;
}

/* Menu */
.nav-links {
  display: flex;
  list-style: none;
  gap: 0;
}

/* Mobile Menu Toggle */
.toggle-menu {
  display: none;
  font-size: 30px;
  color: gold;
  cursor: pointer;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* CSS Variables */
:root {
  --main-color: #ffd700;
  --transparent-color: rgba(0, 0, 0, 0.842);
  --section-padding: 100px;
  --text-shadow: 5px 5px 5px rgba(255, 215, 0, 0.7);
}
/* Navbar Links */
.nav-links a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  color: white;
  background: rgba(255, 215, 0, 0.3);
  text-shadow: 0 0 5px gold;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--transparent-color);
  list-style: none;
  padding: 10px;
  margin: 0;
  min-width: 180px;
  border-radius: 5px;
}

.dropdown-menu.active {
  display: block;
  width: 200px;
}

.dropdown-menu.active li {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/* Dropdown Toggle Button */
.dropdown-toggle {
  background: none;
  border: none;
  color: gold;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.dropdown-toggle.active {
  transform: rotate(180deg);
}

/* Language Switch */
.language-switch {
  display: flex;
  position: relative;
  gap: 10px;
  z-index: 111111;
}

.lang-btn {
  background: none;
  border: 2px solid goldenrod;
  color: gold;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

.lang-btn:hover {
  background: goldenrod;
  color: white;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  color: white;
  z-index: 1;
}
h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  background: #ffcc00;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #ffaa00;
}

/* Hero section */
.hero-section {
  position: relative;
  background: url("../image/bac.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #cbe8f5;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scroll-down {
  text-align: center;
  margin-top: 20px;
  animation: bounce 2s infinite;
}

.scroll-down i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(4px);
  }
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.hero-overlay h1 {
  font-size: 3rem;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: white;
}

p {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  background: #81d4fa;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.show-btn {
  background: none;
  border: 2px solid #ddd;
  color: #333;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 25px;
  width: fit-content;
  margin: 20px auto 15px;
}
.btn :hover {
  background: #4fa3d1;
}
.show-btn :hover {
  background-color: var(--main-color);
}
.section {
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.image-section {
  background-color: #e1f5fe;
}

.image-section.reverse {
  flex-direction: row-reverse;
}

.image-section img {
  width: 40%;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.image-section .content,
.text-section {
  max-width: 500px;
}

.text-section {
  background-color: #f1f8ff;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

h2 {
  color: #4fa3d1;
  margin-bottom: 15px;
}

p {
  color: #444;
  font-size: 18px;
  line-height: 1.8;
}
.age-tour-section .content {
  text-align: center;
}

.age-tour-section h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.age-tour-section p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.age-group {
  margin-bottom: 30px;
}

.age-group h3 {
  font-size: 1.8rem;
  color: #4fa3d1;
  margin-bottom: 10px;
}

.age-group p {
  font-size: 1rem;
  color: #777;
  line-height: 1.6;
}
.dir {
  flex-direction: column-reverse;
}
.imgy {
  width: 100%;
}
.imgy img {
  width: 80%;
}
/* Footer */
footer {
  background-image: url(../image/929554-الدرج-العظيم-بالمتحف-الكبير.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
  background-color: var(--main-color);
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.658);
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

footer .info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .info-content > div {
  flex: 1;
  margin: 10px;
  min-width: 250px;
  text-align: center;
}

footer h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffd700;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .Social ul {
  display: inline-flex;
}

footer ul li {
  margin: 10px 0;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

footer .fa-brands,
footer .fa-solid {
  font-size: 24px;
  margin: 0 10px;
}

footer .contact img {
  max-width: 210px;
  height: auto;
  margin-bottom: 10px;
}

footer .active {
  font-size: 14px;
  margin-top: 15px;
  color: #aaa;
}

/* 🔹 Responsive Design */

/* 🔸 Mobile & Tablet (max-width: 991px) */
@media (max-width: 991px) {
  footer {
    text-align: center;
    padding: 20px;
  }

  .info-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .info-content .contact {
    width: 100%;
    text-align: center;
  }

  .Social ul {
    flex-direction: row;
    gap: 50px;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links li {
    margin: 15px 0;
    width: 100%;
  }

  .nav-button,
  .prev-button,
  .right-arrow,
  .left-arrow {
    display: none;
  }

  .section1 .box-cont {
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }

  .section1 .box-cont .box,
  .section1 .box-cont .box2 {
    width: 100%;
  }
  .video-box {
    width: 100%;
  }
  .services .box-content {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .services .box-content .box {
    width: 100%;
  }

  .toggle-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
  }
  .stats .container {
    flex-direction: column;
  }

  .stats .stat-box {
    width: 100%;
  }

  .main-contact .box1 {
    flex-basis: 100%;
    text-align: center;
  }

  .main-contact .box1 p,
  h2 {
    text-align: center;
  }

  .Social1 ul {
    margin: auto;
    margin-top: 20px;
  }

  .main-contact form {
    width: 100%;
    text-align: center;
  }

  .main-contact form .main-heding p {
    text-align: center;
  }

  footer {
    text-align: center;
    padding: 30px 15px;
  }

  footer .info-content {
    top: 0;
    justify-content: center;
    gap: 30px;
  }

  footer .info-content .contact {
    width: 100%;
    text-align: center;
  }

  footer .info-content .contact h2 {
    text-align: center;
  }
}

/* 🔸 Mobile (max-width: 767px) */
@media (max-width: 767px) {
  .landing {
    height: 40vh;
  }
  .section img {
    width: 100% !important;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 110%;
    background: rgb(0 0 0 / 48%);
    padding: 15px 0;
    text-align: center;
    z-index: 1111;
    border-radius: 10%;
    transform: translateX(-50%);
  }
  .nav-links.active {
    display: flex;
    width: 50%;
    left: 75%;
    transform: translateX(-50%);
  }
  .toggle-menu {
    display: block;
    right: 15px;
  }

  footer {
    padding: 20px 10px;
  }
  .box-cont {
    flex-direction: column;
  }
  .box-cont .box1,
  .box2 {
    width: 100% !important;
  }
  .info-content {
    padding: 10px;
  }
  .Social ul {
    text-align: center;
  }
  .box-content .box {
    width: 45%;
    height: auto;
    margin-bottom: 20px;
  }
  .section1 {
    padding-bottom: 0;
  }
  .carousel {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }
  .main-contact .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/* 🔸 Tablet (375px - 1050px) */
@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .nav-links {
    gap: 10px;
  }
  .box-content .box {
    width: 20%;
    height: auto;
  }

  .section1 {
    padding-bottom: 0;
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }

  .main-contact .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/* 🔸 Large Screens (1200px and above) */
@media (min-width: 1200px) {
  .container {
    width: 85%;
    max-width: 1400px;
    margin: auto;
  }

  .nav-links {
    gap: 50px;
  }
}
